/** ----- Header ----- */
.header {
	display: none;
}

/** ----- Menu ----- */
.menu {
	display: none;
}

/** ----- Content ----- */
.inline {
	display: inline;
}

/** ----- Footer ----- */
.footer {
	display: none;
}